.content{
  margin: 25px 0 25px 0;
}
.player-card{
  margin: 10px;
  width: 150px;
}

.player-card-header{
  min-height: 60px;
}
.player-img{
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
}
mat-card-title{
  text-align: center;
}

mat-card-content p {
  text-align: center;
}
.shirt-img {
  width: 100px;
  height: 100px;
  margin: 3px;
}

.shirt-num {
  position: absolute;
  top: 44%;
  font-size: 30px;
}

.shirt{
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .content {
    margin: 10px 0 10px 0;
  }
  .player-card{
    margin: 5px;
  }
  .shirt-img {
    width: 90px;
    height: 90px;
    margin: 3px;
  }
  .shirt-num {
    font-size: 25px;
  }
  mat-card{
    padding: 10px;
  }
}
