nav {
  margin-left: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

li a:not(.current-page):hover {
  color: lightgray;
  text-decoration: underline;
}

.current-page {
  color: lightgrey;
  cursor: default;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-left: .2rem;
  content: "/";
}

@media screen and (max-width: 768px) {
  nav {
    margin-left: 0;
  }

  li a {
    padding: 2px;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    padding-left: .1rem;
  }
}

