.content {
  margin: 25px;
}

table {
  width: 100%;
}

.img-comp {
  width: 45px;
  height: 45px;
  margin: 3px;
}

@media screen and (max-width: 768px) {
  .content {
    margin: 10px;
  }

  .img-comp {
    width: 30px;
    height: 30px;
    margin: 3px;
  }

  button {
    font-size: 0.8rem;
  }

  .mat-table .mat-cell:nth-child(3), .mat-table .mat-header-cell:nth-child(3) {
    display: none;
  }

  .mat-table .mat-cell:first-child {
    padding-right: 8px;
    padding-left: 0;
  }

  .mat-table .mat-cell:last-child {
    padding-right: 0;
    padding-left: 5px;
  }

  .mat-table .mat-cell {
    font-size: .8rem;
  }
}
