<div
  gdAreas="header | content | footer"
  gdRows="60px auto 60px"
  gdColumns="100%"
  class="main">

  <!-- Toolbar -->
  <div class="toolbar" role="banner" gdArea="header">
    <img width="40" alt="Football" src="assets/img/logo.svg" routerLink="/"/>
    <span>Football App</span>
    <app-breadcrumb></app-breadcrumb>
  </div>

  <!-- Content-->
  <div class="content" role="main" gdArea="content">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <div gdArea="footer">
    <footer>
      <a href="https://github.com/mroserov/football-app" target="_blank" rel="noopener">Github Repository.</a>
    </footer>
  </div>
</div>
