.content {
  margin: 25px;
}

table {
  width: 100%;
}

.season-form {
  width: 80px;
}

.img-comp {
  width: 45px;
  height: 45px;
  margin: 3px;
}

@media screen and (max-width: 768px) {
  .content {
    margin: 10px;
  }

  button {
    font-size: 0.8rem;
  }

  .img-comp, .mat-table .mat-cell:first-child, .mat-table .mat-header-cell:first-child {
    display: none;
  }

  .mat-table .mat-cell:last-child {
    padding-right: 0;
    padding-left: 0;
  }

  .mat-table .mat-cell {
    font-size: .8rem;
    padding-right: 5px;
  }

  .mat-header-cell {
    text-align: center;
  }
}
